.container {
  width: 100%;
  height: 15vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0077ff;

  .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
}